{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
<hr/>
<h4 class="text-center">MESSAGE</h4>
<p class="text-center"><i>{{query}}</i></p>
{% endblock %}


{% block content %}
<h1 class="text-center">Result</h1>
<div class="list-group">
    {% for category, classification, class_link in classification_result %}
    {% if classification == 1 %}
    <a href="{{class_link}} "class="list-group-item list-group-item-action active text-center">{{category.replace('_', '
        ').title()}}</a>
    {% else %}
    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}